@import url("https://fonts.googleapis.com/css2?family=Sedan-SC&display=swap");

:root {
    --bg-color-darker: #9B3922;
    --bg-color-dark: #252525;
    --text-color: #0C0C0C;
}

*{
    box-sizing: border-box;
    font-style: normal;
    font-family: "Merienda", cursive;
    font-weight:bold;
}

body {
margin: 0;
padding: 0;
background-color: var(--bg-color-dark);
display: flex;
flex-direction: column;
align-items: center;
}

.navbar{
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding: 0 30px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    background-color: var(--bg-color-darker);
    backdrop-filter: blur(2px);
    font-size: 18px;
    flex-direction:row;
    width: 100vw;   
    box-shadow: 1px 20px 31px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 20px 31px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 20px 31px 0px rgba(0,0,0,0.75);
}

.navbar a {
    color: var(--text-color);
}


body a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight:bold;
    color: black;
}

body a:hover{
    color:white;
}

.logo-container {
    height: 90%;
}

.logo-container img {
    height: 100%;
}

#S1  {                         
    display: flex;
    margin: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60vw;
    min-height: 100vh;
    background-size: cover ;
    background-repeat: no-repeat;
    color:black;
    background-position: center center;   
    background-image: url("./Img Proyecto/img7-proyecto.jpg");
    border-radius: 15px;
    box-shadow: 15px 15px var(--text-color);

}

#S2{
    display: flex;
    margin: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("./Img Proyecto/img2-proyecto.jpg");
    width: 60vw;
    min-height: 100vh;
    background-size: cover ;
    background-repeat: no-repeat;
    color:black;
    border-radius: 15px;   
    box-shadow: 15px 15px #073e41;
}

.header{
    background-color: rgba(255, 255, 255, 0.452);
    width: 100%;
}

#S3{   

}

#S4 .carta{
    display: flex;
    background-color: rgba(255, 255, 255, 0.74);      
    text-align: left; 
    background-size: cover;
    width: 80vw;
    height: 60vh;
    margin: 18px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 15px 15px #073e41;
}

#S4 .texto{
    display: flex;
    color: #0a4a4d;
    flex-direction: column;
    padding: 10px;  
}

.carta img{
    height: 700px;
    width: 450px;
    object-fit: cover;
    object-position: center;
}

.form-contacto{
    width: 500px;
    padding: 80px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    background-color: wheat;
    border-radius: 15px;
    

}

.form-contacto h2{
    font-size: 25px;
    margin-bottom: 20px;
}

.campos-text{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;

}